@import "tailwindcss";

:root {
  font-family: "Instrument Sans", system-ui;
  line-height: 1.5;
  font-size: clamp(12px, 2vw + 0.3em, 16px);
  font-weight: 400;

  color: #FFFFFF;
  background-color: #19191B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  --content-primary: #FFFFFF;
  --content-secondary: #C2B1C3;
  --content-inverse: #19191B;

  --brand-primary: #FF86DF;
  --brand-secondary: #FFBAF7;

  --background-primary: #19191B;
  --background-secondary: #49494A;
  --background-inverse: #FFFFFF;

  --alert-red: #FF5297;
  --alert-green: #00D1B2;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  justify-content: center;
  min-width: 100dvw;
  min-height: 100dvh;
  overflow-x: hidden;
  overscroll-behavior: none;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
}

a {
  font-size: 1rem;
  font-weight: 600;
  color: #FFBAF7;
  text-align: center;
  text-decoration: underline;
}

@media (min-width: 640px) {
  :root {
    font-size: 12px;
  }
  
  body {
    display: flex;
    place-items: center;
    min-width: 100dvw;
    min-height: 100dvh;
  }
}